* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #EF233C;
}

.container{
    max-width: 500px;
    background: #EDF2F4;
    border-radius: 7px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
}

#add-todo{
    width: 350px;
    height: 40px;
    border: 2px solid #b9bcbd;
    border-radius: 5px;
    padding-left: 10px;
}

#add-todo:focus {
    border: 1px solid rgb(239,35,60);
    transition: 1s;
}

#add-button{
    height: 40px;
    color: #fff;
    background: #2B2D42;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.5s ease-in-out;
}

#add-button:hover{
    background: rgba(47, 50, 73, 0.8);
    transition: background 0.5s ease-in-out;
}

#add-button:active{
    opacity: 0.8;
}

#alltasks{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.itens-tasks {
    position: relative;
    background: #cccccc;
    box-shadow: 2px 4px #2B2D42;
    border-radius: 5px;
    padding: 20px 30px;
    margin-top: 20px;
}

.name-tasks{
    font-size: 15px;
    padding: 0 10px;
}

.done-button{
    position: absolute;
    height: 100%;
    width: 50px;
    border: none;
    background: transparent;
    left: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.del-button{
    position: absolute;
    height: 100%;
    width: 50px;
    border: none;
    background: transparent;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fa-meteor{
    color: #004a68;
}

.fa-trash{
    color: #e41732;
}

.itens-tasks:hover .del-button{
    opacity: 1;
}

.itens-tasks:hover .done-button{
    opacity: 1;
}

.done{
    background: #8D99AE;
    text-decoration: line-through;
}